/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.index-banner-wallpaper {
	background: url('../img/bg-color.jpg');
	text-shadow: black 0px 0px 20px;
	background-position: 50%;
	background-size: cover;
}

.bold-text {
	font-weight: bold !important;
}

.custom-footer {
	margin-top: 0em !important;
}

#mainCanvas{
    display:block;
    width:80%;
    padding:50px 10%;
    height:300px;
} 