{% extends "base.html" %}
{% block head %}
  {{super()}}
{% endblock %}
{% block content %}
<body>
<div class="row">
  <div class="container">
  <h3 class="orange-text"> About Parkify</h3>
    <div class="col s6" >
      <font size="2">
      <p>Life has become faster while parking continues to be a slowdown in our daily lives. Looking for a parking spot
takes not only time, but also gas of driving around in circles in hopes of finding a good one. This is where Parkify comes in: an application which
helps you manage your parking lot by areas, helping not only you, but also the drivers and the climate.</p>

<p>Parkify divides your parking lot in different zones and gives you a mobile app which monitors how many vehicles enter and exit each of this zones.
This way, you will be able to have better management over your lot while giving your customer a better experience. The less driving around, the more
time that is saved and the less gas that is wasted; help yourself and your customers find a better spot.</p>
    </font>
    </div>
    <div class="col s6">
      <iframe width="480" height="280" src="https://www.youtube.com/embed/9JtfcTG6uA4" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="container">
    <div align="center"><h4 class="orange-text"> Team Members </h4> </div>
    <div class="col s4" style="text-align: center">
	<font size="3">
	<ul> 
	  <li>Félix Iniguez</li>
	  <li>Diego Camargo</li>
	  <li>Salvador Ahedo</li>
	  <li>Fernando Rubio</li>
	  <li>Juan Tamayo</li>
	  <li>Jairo Rubio</li>
	</ul>
	</font>
    </div>
    <div class="col s4"> <img class="responsive-img" src="http://i.imgur.com/Rcz4fwg.jpg"> </div>
    <div class="col s4" style="text-align: center">
	<font size="3">
	<ul> 
    	  <li>Diego Toledo</li>
	  <li>Eduardo Tostado</li>
	  <li>Monserrat Sánchez</li>
	  <li>Carlos Pedraza</li>
	  <li>Ricardo Palma</li>
	  <li>Victor Najar</li>
    	</ul>
	</font>
    </div>
  </div>
</div>
</body>
{% endblock %}
