{% extends "base.html" %}
{% block content %}
  <div class="section index-banner-wallpaper" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Parkify</h1>
      <div class="row center">
        <h5 class="header col s12 light white-text bold-text">Upload your parking lot and let the magic happen</h5>
      </div>
      <div class="row center">
        <form action="/file" method=post enctype=multipart/form-data>
          <div class="file-field input-field">
            <div class="btn-large waves-effect waves-light light-blue lighten-1">
              <span>Select a File</span>
              <input type="file" name="file">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate white-text" type="text">
            </div>
          </div>
          <button class="btn waves-effect waves-light orange" type="submit">Start</button>
        </form>
      </div>
      <br><br>
    </div>
  </div>
  <br><br><br><br><br><br><br><br><br><br>
{% endblock %}