{% extends "base.html" %}
{% block content %}
<div class="section">
  <div class="row">
    <div class="col s4">
      <div class="container">
        <div id="cards-container">
          <button type="button">Save Lot</button>
        </div>
      </div>
    </div>
    <div class="col s8">
        <div id="map-container"> 
          <div id="map" align="center"></div>
       </div>
    </div>
  </div>
</div>
{% endblock %}
{% block javascriptIncludes %}
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHtH54REtXuqXqMKKDHbJ-K-kzh3O8nIA&callback=initMap">
    </script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
