{% extends "base.html" %}
{% block head %}
  {{super()}}
{% endblock %}
{% block content %}
  <canvas id="c" height = '800px' width = '500px'></canvas>
{% endblock %}
{% block javascriptIncludes %}
  <script type="text/javascript" src="http://fabricjs.com/build/files/text,gestures,easing,parser,freedrawing,interaction,serialization,image_filters,gradient,pattern,shadow,node.min.js"></script>
  <script src="{{ url_for('static', filename='js/canvasVisual.js') }}"></script>
{% endblock %}